<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <h1>Pokemon</h1>

        <p>Ingrese el nombre del pokemon:</p>

        <form action="Pokemon/guardarPokemon" method="post" class="form-group" enctype="multipart/form-data">
            <label class="control-label" for="nombre">Nombre:</label>
            <input class="form-control" type="text" name="nombre">
            <br>
            <input class="form-control" type="file" name="fotoPokemon">
            <input class="form-control btn btn-success" type="submit" value="Guardar">
        </form>
    </div>
</div>
